{% extends 'user_management/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ action }} Shelf{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-gradient-primary text-white">
            <h2 class="mb-0">{{ action }} Shelf</h2>
        </div>
        <div class="card-body p-4">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.total_rows|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ form.total_columns|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
                <div class="mt-4 text-end">
                    <a href="{% url 'shelf_list' %}" class="btn btn-secondary">
                        <i class="fas fa-times me-2"></i>Cancel
                    </a>
                    <button type="submit" class="btn btn-primary ms-2">
                        <i class="fas fa-save me-2"></i>{{ action }} Shelf
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 